<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}My Portfolio{% endblock %}</title>
</head>
<body>
<header>
    <h1>My Portfolio</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if is_authenticated %}
            <li><a href="{{ url_for('page1') }}">Page 1</a></li>
            <li><a href="{{ url_for('display_skills') }}">Page 2</a></li>
            <li><a href="{{ url_for('page3') }}">Page 3</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('users') }}">Users</a></li>
            <li><a href="{{ url_for('discipline') }}">Discipline</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>

            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Registration</a></li>
            {% endif %}



        </ul>
    </nav>
</header>

<main>
    {% from "render_field.html" import render_field %}
    {% block content %}{% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</main>


<footer>
    <p>&copy; 2023 My Portfolio. All rights reserved.</p>
    <p>Operating System: {{ os_info }}</p>
    <p>User Agent: {{ user_agent }}</p>
    <p>Current Time: {{ current_time }}</p>
</footer>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>
