{% macro render_field(field) %}
    {% if field.type == 'BooleanField' %}
        <div class="d-flex flex-row justify-content-center align-items-center form-field-row">
            {% if field.label is defined and field.label.text %}
                <dt class="w-100 d-flex flex-row justify-content-center align-items-center">{{ field.label(class="control-label") }}
            {% endif %}
            {{ field(class="default-input mx-4", tabindex=1, **kwargs) | safe }}
        </div>

    {% else %}
        {% if field.label is defined and field.label.text %}
            <dt class="w-100">{{ field.label(class="control-label") }}
        {% endif %}
        <div class="form-field-row">
            {{ field(class="default-input", tabindex=1, **kwargs) | safe }}
        </div>
    {% endif %}
    {% if field.errors %}
        <ul>
            {% for error in field.errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}